:root {
    /*Blue*/
    --Dark-blue-100: #609ED4;
    --Dark-Blue-200: #356EA9;
    --Dark-Blue-300: #0A3871;
    --Dark-Blue-400: #072B61;
    --Dark-Blue-500: #052051;
    /*Grey*/
    --Gray-100: #CED4DA;
    --Gray-200: #ADB5BD;
    --Gray-300: #868E96;
    --Gray-400: #495057;
    --Gray-500: #343A40;
    /*Font*/
    --font-body: 'Poppins', arial, sans-serif;
}

* {
    font-family: var(--font-body);
}

header {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 90%;
}

.logo {
    margin: 10px;
}

main {
    display: flex;
    align-items: last center;
    flex-direction: row;
}

article {
    margin: 0px 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

article section {
    display: inline;
    flex-direction: column;
}

.textarea {
    height: 250px;
    width: 300px;
    font-size: 25px;
    resize: none;
    border: none;
    background-color: transparent;
}

.Advertencia {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.TextAd {
    margin-bottom: 10px;
}

.logoA {
    width: 10px;
    height: 10px;
}

.button {
    color: #ffffff;
    border-radius: 10px;
    padding: 10px 40px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
}

.encrypt {
    background-color: var(--Dark-Blue-400);
}

.desencrypt {
    background-color: #AAB2D5;
    border-color: var(--Dark-Blue-400) solid;
}

main aside {
    height: 100%;
    margin-left: 25px;
    display: grid;
    justify-content: space-between;
}

.logoBlank {
    margin-top: -25px;
}

aside h1 {
    font-size: 20px;
    font-weight: bold;
    color: black solid;
    margin-top: 25px;
    margin-bottom: 10px;
}

aside p {
    font-size: 10px;
    color: black solid;
}

.asidePredeterminado {
    display: none;
}

.asideResult {
    width: 100%;
    height: 100%;
    margin-bottom: 0x;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.asideResult button {}

.copy {
    margin-top: 30px;
    background-color: var(--Gray-400);
}